h1{
font-family: 'Meddon', cursive; font-size: 50;
color: #CAE1FF;
font-size: 2rem;
letter-spacing: 6px;
word-spacing: 11px;
text-shadow: 2px  2px black;
}

body{
background-color: #FFF0F5;
    }

p{
  font-family: 'Modak', cursive;
  color: #CAE1FF;
  font-size: 1.3rem;
  letter-spacing: 6px;
  word-spacing: 11px;
  text-shadow: 2px  2px black;
}
